<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="css/style.css">
  <body>
    <% if(products.length > 0) { %>
      <div>
        <% for(let product of products) { %>  
          <article class="box">
            <h2 class="text-center"><%= product.name %></h2>
            <div class="text-center">
              <img class="img" src="<%= product.image %>" alt="<%= product.name %>"></div>                    
            <div class="text-center">
              <div class="child"><p><%= product.price %>€</p></div>
            </div>
            <div class="text-center">
              <form action="/product-list/<%= product.id %>" method="POST">
                <button type="submit" onclick="return confirm ('Voulez-vous vraiment supprimer se produit ?')" href ="product-list.ejs">Supprimer</button>
              </form>
            </div>
          </article>
          
        <% } %>
      </div>
    <% } else { %>
        <h1>Aucun produit trouvé, Désoler</h1>
    <% } %>
  </body>
</html>
